		/* Layout
		-------------------------------*/
		body, html {
			
			margin: 0;
			font: 16px "Lato", sans-serif;
			color: #777;
			height: 100%;
			font-family: Arial, Helvetica, sans-serif;
			
		}

		#hom {
			height: 100%;
		}


		.conteudo {
			color: #777;
			background-color: white;
			text-align: justify;
			padding: 50px 80px;
			background: url(../imagens/fundo-preto.jpg) no-repeat;
		}

	
		/* Efeito Parallax
		-------------------------------*/
		.caixa1, .caixa2, .caixa3, .caixa4 {
			position: relative;
			height: 100%;
			opacity: 1.0;
			background-repeat: no-repeat;
			background-size: cover;
			background-position: center;
			background-attachment: fixed; 
		}

		.caixa1 {
			background-image: url(../imagens/pagina-principal-3.png);
		}

		.caixa2 {
			background-image: url(../imagens/imagem2.jpg);
		}

		.caixa3 {
			background-image: url(imagens/imagem3.jpg);
		}

		.caixa4 {
			background-image: url(imagens/imagem4.jpg);
		}

		.conteudo-titulo {
			position: absolute;
			left: 0;
			top: 45%;
			width: 100%;
			text-align: center;
		}

		.conteudo-titulo span.titulo {
			color: #fff;
			background-color: #111;
			padding: 18px;
			font-size: 25px;
			letter-spacing: 5px;
			text-transform: uppercase;
		}

/*
Bara de navegação
--------------------------*/
nav.navbar-transparente {
	background: rgba(0, 0, 0, 0.6);
	padding: 15px 0;
}

.navbar-light .navbar-nav .nav-link {
	font-size: 16pt;
	color: rgb(255, 255, 255);
}

.navbar-light .navbar-nav .nav-link:hover {
	color: #21FFE1;
}

.divisor {
	width: 1px;
	background: white;
	margin: 12px 15px;
}

/* Capa
-------------------*/
.capa {
	text-align: left;
}

/* Tipografia
-------------------*/

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .btn-custom {
        margin: 10px 15px;
        font-size: 0.8em;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) { 
    h1 {
        font-size: 3em;
    }
    .btn-custom {
        margin: 10px 15px;
        
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 4em;
    }
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 5em;
    }
}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    h1 {
        font-size: 6em;
    }
}

h1 {
	font-size: 40pt;
	letter-spacing: -0.05em;
	color:white;
}

h2 {
	color: #21FFE1;
}


h3 {
	text-transform: uppercase;
	color: #111;
	text-align: center;
}

p{
	margin-bottom: 20px;
	color:turquoise;
	font-size: 18pt;
}



/*Animação*/

.line {
	border-right: 2px solid #21FFE1;
	display:inline-flex;
	text-align: center;
	align-items:center;
	white-space: nowrap;
	overflow: hidden; /*Esconder o texto*/
	
}

.typing-animation {
	animation: blinkCursor 500ms steps(40) infinite normal, typing 4s steps(40) 2s normal both;
}

@keyframes typing {
	from {
		width: 0;
	}
	to {
		width: 17em;
	}
}


@keyframes blinkCursor {
	from {
		border-right-color: #21FFE1;
	}
	to {
		border-right-color: transparent;
	}
}

